<template>
  <div class="home">
    <h1>This is an home page</h1>
  </div>
</template>

<script>
export default {
  created() {
    const api = "http://127.0.0.1:8000/api/book";

    this.axios.get(api).then((response) => {
      console.log(response.data);
    });
  },
};
</script>

