<template>
  <v-app>
    <!-- <Dialog />
    <Alert /> -->

    <v-navigation-drawer app v-model="drawer">
      <v-list>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>Usernya boleh siapa saja</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <div class="pa-2" v-if="guest">
          <v-btn block color="primary" clas="mb-1" @click="login">
            <v-icon left>mdi-lock</v-icon>
            Login
          </v-btn>
        </div>

        <v-divider></v-divider>

        <v-list-item
          v-for="(item, index) in menus"
          :key="'menu-' + index"
          :to="item.route"
        >
          <v-list-item-icon>
            <v-icon left>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout">
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app color="warning" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>MyLibrary</v-toolbar-title>

      <v-spacer></v-spacer>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <v-container fluid>
        <v-slide-y-transition>
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>

    <v-footer app> @Mylibrary east 2021 | Lets Read </v-footer>
  </v-app>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "App",
  // components: {
  //   Alert: () => import(".components/Alert.vue"),
  //   Dialog: () => import(".components/Dialog.vue"),
  // },

  data: () => ({
    drawer: false,
    menus: [
      { title: "Home", icon: "mdi-home", route: "/" },
      { title: "Book", icon: "mdi-book", route: "/book" },
      { title: "Genres", icon: "mdi-domain", route: "/genre" },
      { title: "Borrows", icon: "mdi-pen", route: "/borrow" },
      { title: "Profile", icon: "mdi-account", route: "/profile" },
    ],
    guest: true,
  }),

  methods: {
    logout() {
      this.guest = true;
      this.setAlert({
        status: true,
        color: "succes",
        text: "anda berhasil logout",
      });
    },
    ...mapActions({
      setAlert: "alert/set",
      setDialogComponent: "dialog/setComponent",
    }),
  },
};
</script>
